.post {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
}

.username {
    font-weight: bold;
    color: #333;
    font-style: italic;
}

.content {
    margin: 4px 0 0 0;
    color: #555;
}
.post-date {
    font-size: 0.9em;
    color: #999;
}