.grid{
background-color: palevioletred;
display:grid;
grid-template-rows: repeat(12,1fr);
grid-template-columns: repeat(12,1fr);
grid-gap:10px;
}

#item1{
    grid-template-rows: repeat(1,1fr);
grid-template-columns: repeat(12,1fr);

}
#item2{
    grid-template-rows: repeat(1,1fr);
grid-template-columns: repeat(12,1fr);

}