<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to Quora Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li class="post">
                <strong class="username"><%= post.username %>:</strong> <h4 class="content"><%= post.content %></h4>
            </li>
        <% }) %>

        <br>
        </br>
        <a href="http://localhost:8080/posts/new">create new post</a>
    </ul>
</body>
</html>