<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>

    <h2>here is your post in detail</h2>
    <p>post id:<%=post.id%></p>
    <p class="post"><strong>Username:</strong> <%= post.username %></p>
    <p class="content"><strong>Content:</strong> <%= post.content %></p>
    
</body>
</html>